In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
df=pd.read_csv('D:/aiml/CreditCard_DV.csv')
df

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Income_Category,Credit_Limit,Total_Revolving_Bal,Avg_Purchase,Total_Trans_Amt
0,768805383,Existing Customer,45,M,3,High School,$60K - $80K,12691.0,777,11914.0,1144
1,818770008,Existing Customer,49,F,5,Graduate,Less than $40K,8256.0,864,7392.0,1291
2,713982108,Existing Customer,51,M,3,Graduate,$80K - $120K,3418.0,0,3418.0,1887
3,769911858,Existing Customer,40,F,4,High School,Less than $40K,3313.0,2517,796.0,1171
4,709106358,Existing Customer,40,M,3,Uneducated,$60K - $80K,4716.0,0,4716.0,816
...,...,...,...,...,...,...,...,...,...,...,...
95,719712633,Existing Customer,64,M,1,Graduate,Less than $40K,1709.0,895,814.0,1673
96,772629333,Existing Customer,45,M,3,Graduate,$40K - $60K,3454.0,1200,2254.0,1313
97,720336708,Existing Customer,53,M,3,Doctorate,$40K - $60K,3789.0,1706,2083.0,1609
98,802013583,Existing Customer,56,M,3,College,$120K +,9689.0,2250,7439.0,1158
99,711887583,Attrited Customer,47,M,2,Unknown,$80K - $120K,5449.0,1628,3821.0,836

In [11]:
df['Total_Trans_Amt'].unique()

array([1144, 1291, 1887, 1171,  816, 1088, 1330, 1538, 1350, 1441, 1201,
       1314, 1539, 1311, 1570, 1348, 1671, 1028, 1336, 1207, 1178,  692,
        931, 1126, 1110, 1051, 1197, 1904, 1052, 1045, 1038, 1596, 1589,
       1411, 1407, 1877,  966, 1464,  704, 1109, 1347, 1756, 1042, 1444,
       1741, 1719, 1217, 1140, 1878,  705, 1946, 1414,  602, 1295, 1424,
       1359, 1168, 1097,  691, 1316, 1276, 1289, 1293, 1353, 1132, 1670,
        837, 1550, 1540, 1256, 1394, 1341, 1112, 2339, 1468, 1334, 1457,
       1603,  615, 1068, 1590, 1531, 1212, 1237, 1413, 1516, 1564, 1465,
       1286, 1312, 1673, 1313, 1609, 1158,  836], dtype=int64)

In [12]:
X = df.columns.drop("Total_Trans_Amt")
# Setting the target as the 'class' column
y = df['Total_Trans_Amt']
# Encoding all the features/predictor variables using the get_dummies method()
df = pd.get_dummies(df[X])
# Checking the shape of the input data
df.shape

(100, 22)

In [13]:
from sklearn.model_selection import train_test_split
#splitting data into train and test datasets in 85:15 ratio
X_train,X_test,y_train,y_test = train_test_split(df, y,test_size=0.15,random_state=100)
# Checking the shapes of the resulting datasets
print("Shape of X_train:", X_train.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (85, 22)
Shape of y_train: (85,)
Shape of X_test: (15, 22)
Shape of y_test: (15,)

In [14]:
from sklearn.linear_model import LogisticRegression
# Instantiating the required algorithm for model building.
model = LogisticRegression()
# Building the model based on the training data.
model.fit(X_train,y_train)

LogisticRegression()

In [15]:
train_accuracy = model.score(X_train,y_train)
print("Train accuracy = ", train_accuracy)
# Getting the accuracy on test data
test_accuracy = model.score(X_test,y_test)
print("Test accuracy = ", test_accuracy)

Train accuracy =  0.023529411764705882
Test accuracy =  0.0

In [7]:
# Predicting targets based on the model built
train_predictions = model.predict(X_train)
test_predictions = model.predict(X_test)
# Importing the required function
from sklearn.metrics import confusion_matrix
# Creating a confusion matrix on the training data
train_conf_matrix = confusion_matrix(y_train,train_predictions)
# Converting the train_conf_matrix into a DataFrame for better readability
pd.DataFrame(train_conf_matrix,columns=model.classes_,index=model.classes_)

   0  1   2  3  4  5
0  0  0   5  0  0  0
1  0  0  16  0  0  0
2  0  0  23  0  0  0
3  0  0  21  0  0  0
4  0  0  16  0  0  0
5  0  0   4  0  0  0

In [9]:

# Calculating train accuracy from confusion matrix
train_correct_predictions = train_conf_matrix[0][0]+train_conf_matrix[1][1]
train_total_predictions = train_conf_matrix.sum()
train_accuracy = train_correct_predictions/train_total_predictions
print(train_accuracy)

0.0

In [10]:
# Calculating test accuracy from confusion matrix
test_correct_predictions = test_conf_matrix[0][0]+test_conf_matrix[1][1]
total_predictions = test_conf_matrix.sum()
test_accuracy = test_correct_predictions/total_predictions
print(test_accuracy)

0.0